button{
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    background-color: bisque;
    font-size: medium;
}

.calculator{
    box-shadow: 0 0 10pt 2pt grey;
    margin: auto;
    padding: 40px;
    border-radius: 40px;
    width: 300px;
    background-color: antiquewhite;
}

.screen{
    box-shadow: 0px 2px;
    margin: auto;
    border-radius: 20px;
    background-color: gainsboro;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 240px;
}